
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  color: white !important;
}

body {
  min-height: 100vh;
  padding-top: 80px;
  background-image: url(background_img.png);
}
.custom-navbar {
  height: 70px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.4); /* semi-transparent black */
  box-shadow: none;
  z-index: 1030;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-left: 13rem;  
  margin-top: 0.2rem;
}

.nav-img {
  margin-top: -1rem;
  width: 4rem;
  height: 4rem;
  margin-left: -3rem;
  margin-right: 17.5rem;
}

.middle {  
  height: 50px;
  border-radius: 1.5rem;
  padding-top: 0.23rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  color:white;
  margin-right: 14rem;
  cursor: pointer;
}

.middle:hover{
  background-color: black;
}

.shade{
  margin-right: 1rem;
  border-radius: 1.5rem;
}

.shade:hover {
 color: white;
 background-color: #1a1a1a
}

.nav-sign{
  font-size: 0.9rem;
  cursor: pointer;
  margin-left: 5rem;
  margin-top:-1rem;
}

main {
  padding: 40px 20px;
  text-align: center;
}

.footer {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  gap: 2rem;
}

.foot-logo{
  height: 7rem;
  width: 7rem;
}

.footer-team{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-left: -1rem;
}

.footer-team-arrangement{
  display: flex;
  flex-direction: column;
}